$c-title: #cbd9cd;
$c-body: #cbd9cd;
$c-subtitle: #9d9d9d;
$c-placeholder: rgb(110, 110, 110);

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-tan: #444;
$c-dark-yellow-grey: #3a3a36;

$c-light-yellow-80: #fffff0cc;
$c-black: #000;
$c-black-75: #000000bf;
$c-black-50: #00000080;
$c-black-13: #ffffff21;
$c-black-1: #0000000d;
$c-white: #ffffff;
$c-white-18: #ffffff2e;
$c-white-30: #ffffff4f;
$c-pink: #ffb0b0;
$c-dark-salmon: #cd5c5ca4;
$c-red-75: #891500bf;
$c-red: #a52a2a;
$c-dark-red-75: #1f0500bf;
$c-grey: #616161;
$c-dark-grey: #363636;
$c-lt-grey: #bebebe;
$c-mint-green: #c0dfce;

$c-insight-green: #3b9637;
$c-stress-red: #d33737;
$c-dark-die-purple: #ad25b9;
$c-dark-die-purple2: #bd40c7;