<form>
    <p><b>Stress and/or Insight Check:</b></p>
    <div class="flexcol">
        <p class="form-group">
            <input style="align-self: flex-start;" type="checkbox" id="stress" name="stress">
            <label for="stress">${game.i18n.format("CDG.DialogStressCheck")}</label>
            <input style="align-self: flex-start;" type="checkbox" id="insight" name="insight">
            <label for="insight">${game.i18n.format("CDG.DialogInsightCheck")}</label>
        </p>
    </div>
</form>