// Exposure
.disabled {
    pointer-events: none;
}

.chat-message-exposure {
  background: none;
  background-color: $c-faint;
  border: 2px $c-dark-die-purple solid;
}

.exposure-panel {
  position: absolute;
  top: 30px;
  right: 365px;  

  .exposure {
    background: $c-dark-grey;
    border: $c-grey 1px solid;
    box-shadow: 0 0 4px $c-black-13;
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    border-radius: 5px 22px 22px 5px;

    .name {
      padding: 0 10px 0 10px;
      color: $c-dark-die-purple;
      font-size: 2em;
      align-self: center;
      margin: 0;
    }

    .name-with {
      padding: 0 10px 0 10px;
      color: $c-dark-die-purple;
      font-size: 1.75em;
      align-self: center;
      margin: 0;
      line-height: 70%;

      .sub-header {
        color: $c-white;
        font-size: 0.5em;
      }
    }

    .clock {
      cursor: pointer;
      width: 54px;
      height: 54px;
      box-shadow: 0 0 8px $c-black-13;

      --spoke-width: 1px;

      align-self: center;
      aspect-ratio: 1 / 1;

      --filled-ratio: calc(var(--filled) / var(--areas) * 1turn);
      background: conic-gradient($c-dark-die-purple2 var(--filled-ratio), $c-lt-grey var(--filled-ratio) 1turn);
      border-radius: 50%;
      border: $c-grey var(--spoke-width) solid;

      position: relative;

      .spoke {
        width: var(--spoke-width);

        /* Make the spokes slightly larger than the inner radius so they overlay half the outer border, preventing subpixel gaps */
        height: calc(50% + 0.5 * var(--spoke-width));

        top: calc(-0.5 * var(--spoke-width));
        right: calc(50% - var(--spoke-width) / 2);

        background: $c-grey;
        position: absolute;

        transform-origin: center bottom;
        transform: rotate(calc((var(--index) * 1turn) / var(--areas)));
      }
    }
  }
}
