.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px #d33737;
    cursor: pointer;
  }
}

.stress-format {
  font-weight: bold;
  font-style: italic;
  color: #d33737;
}

.dark-die-format {
  font-weight: bold;
  font-style: italic;
  color: #ad25b9;
}

.insight-format {
  font-weight: bold;
  font-style: italic;
  color: #3b9637;
}
