<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="180" width="180"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "CDG.ActorName"}}"/></h1>
      
      <section class="grid grid-2col">
        <h3 class="header-input"><input name="system.alias" type="text" value="{{system.alias}}" placeholder="{{localize "CDG.ActorAlias"}}"/></h3>
        <h3 class="header-input"><input name="system.occupation" type="text" value="{{system.occupation}}" placeholder="{{localize "CDG.ActorOccupation"}}"/></h3>

        <div class="specialty grid-span-2">
          <label for="specialty">{{localize "CDG.ActorSpecialty"}}</label>
          <input name="system.specialty" id="specialty" type="text" value="{{system.specialty}}" placeholder="{{localize "CDG.ActorSpecialty"}}"/>
        </div>

        <div>
          <b style="color: #2ba624">{{localize "CDG.ActorInsight"}}</b>
          {{#multiboxes system.insight.value}}
            <input type="radio" id="character-{{../_id}}-insight-0" name="system.insight.value" value="0"> |
            {{#times_from_1 system.insight.max}}
              <input type="radio" id="character-{{../_id}}-insight-{{this}}" name="system.insight.value" value="{{this}}">
            {{/times_from_1}}
          {{/multiboxes}}
        </div>

        <div>
          <b style="color: #A62424">{{localize "CDG.ActorStress"}}</b>
          {{#multiboxes system.stress.value}}
            <input type="radio" id="character-{{../_id}}-stress-0" name="system.stress.value" value="0"> |
            {{#times_from_1 system.stress.max}}
              <input type="radio" id="character-{{../_id}}-stress-{{this}}" name="system.stress.value" value="{{this}}"> 
            {{/times_from_1}}
          {{/multiboxes}}
        </div>
      </section>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "CDG.ActorTabMain"}}</a>
    <a class="item" data-tab="biography">{{localize "CDG.ActorTabBiography"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Main Tab --}}
    <div class="tab full-height" data-group="primary" data-tab="main">
      <section class="grid grid-2col full-height">
        <section class="grid-span-1">
          <h3>{{localize "CDG.ActorDisorders"}}</h3>
          {{#each system.disorders as |disorder key|}}
            <div class="disorder flexrow">
              <input type="checkbox" name="system.disorders.{{key}}.checked" {{checked disorder.checked}}>
              {{#if disorder.checked}}
                <input class="strike-input" name="system.disorders.{{key}}.name" type="text" value="{{disorder.name}}" placeholder="{{localize disorder.placeholderName}}" disabled>
              {{else}}
                <input name="system.disorders.{{key}}.name" type="text" value="{{disorder.name}}" placeholder="{{localize disorder.placeholderName}}"/>
              {{/if}}
            </div>
          {{/each}}

          <div class="rollsection">
            <div class="rollbox">
              <div class="rolltitle">
                <h3>{{localize "CDG.ActionRiskyThingTitle"}}</h3>
                <button class="rollable" data-roll-type="riskything"><i class="fa-solid fa-dice"></i>{{localize "CDG.ActionRoll"}}</button>
              </div>
              <p>{{localize "CDG.ActionRiskyThingDesc"}}</p>
            </div>

            <div class="rollbox">
              <div class="rolltitle">
                <h3>{{localize "CDG.ActionFailureTitle"}}</h3>
                <button class="rollable" data-roll-type="failure"><i class="fa-solid fa-dice"></i>{{localize "CDG.ActionRoll"}}</button>
              </div>
              <p>{{localize "CDG.ActionFailureDesc"}}</p>
            </div>
          </div>
        </section>

        {{!-- right side starts --}}

        <section class="right-side grid-span-1 full-height">
          <div class="harm-label">
            <h3>{{localize "CDG.ActorHarm"}}</h3>
            <button class="rollable" data-roll-type="clearharm"><i class="fa-solid fa-circle-x"></i>{{localize "CDG.ClearHarm"}}</button>
          </div>
          {{#each system.harm as |harm key|}}
            <div class="harm">
              <label for="harm-{{key}}">{{localize harm.labelName}}</label>
              <input name="system.harm.{{key}}.name" id="harm-{{key}}" type="text" value="{{harm.name}}" placeholder="{{localize harm.placeholderName}}"/>
            </div>
          {{/each}}

          <div class="rollsection">
            <div class="rollbox">
              <div class="rolltitle">
                <h3>{{localize "CDG.ActionDarkDieTitle"}}</h3>
                <button class="rollable" data-roll-type="darkdie"><i class="fa-solid fa-dice"></i>{{localize "CDG.ActionRoll"}}</button>
              </div>
              <p>{{localize "CDG.ActionDarkDieDesc"}}</p>
            </div>

            <div class="rollbox">
              <div class="rolltitle">
                <h3>{{localize "CDG.ActionSelfCareTitle"}}</h3>
                <button class="rollable" data-roll-type="selfcare"><i class="fa-solid fa-dice"></i>{{localize "CDG.ActionRoll"}}</button>
              </div>
              <p>{{localize "CDG.ActionSelfCareDesc"}}</p>
            </div>
          </div>
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab full-height" data-group="primary" data-tab="biography">
      <section class="full-height grid grid-2col">
        <section class="grid-span-1">
          <h3>{{localize "CDG.ActorAnchors"}}</h3>
          <div class="grid grid-5col">
            {{#each system.anchors as |anchor key|}}
              <input class="grid-span-1" type="checkbox" id="{{key}}-anchor" name="system.anchors.{{key}}.checked" {{checked anchor.checked}}>
              {{#if anchor.checked}} 
                <input class="grid-span-4 strike-input" name="system.anchors.{{key}}.name" id="{{key}}-anchor-name" type="text" value="{{anchor.name}}" placeholder="{{localize anchor.placeholderName}}" disabled/>
                <textarea class="grid-span-5 bottomspace" name="system.anchors.{{key}}.description" type="text" value="{{anchor.description}}" placeholder="{{localize anchor.placeholderDesc}}" disabled>{{localize "CDG.ActorAnchorMarked"}}</textarea>
              {{else}}
                <input class="grid-span-4" name="system.anchors.{{key}}.name" id="{{key}}-anchor-name" type="text" value="{{anchor.name}}" placeholder="{{localize anchor.placeholderName}}"/>
                <textarea class="grid-span-5 bottomspace" name="system.anchors.{{key}}.description" type="text" value="{{anchor.description}}" placeholder="{{localize anchor.placeholderDesc}}">{{anchor.description}}</textarea>
              {{/if}}
            {{/each}}
          </div>
        </section>

        {{!-- right side starts --}}

        <section class="full-height right-side grid-span-1">
          <h3>{{localize "CDG.ActorNotes"}}</h3>
          {{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
        </section>

      </section>
    </div>

  </section>
</form>
