#cdg-dialog-risky,
#cdg-dialog-darkdie {
  .window-content {
    background: none;
    background-color: $c-black;
    background-image: url(../assets/ui/actor/actor-sheet-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: $c-title;
  }

  .dialog-buttons button {
    background: $c-light-yellow-80;
    border: none;
    margin: 0 5px 0 0;
  }

}
