.item-form {
  font-family: $font-primary;
}

.character {
  h1, h2, h3, h4 {
    border-bottom: none;
    font-weight: bold;
  }
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 170px;
    height: 170px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }

  h3.header-input {
    height: 40px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.specialty {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    flex: 1;
  }

  label {
    font-weight: bold;
    flex-basis: content;
    margin-right: 5px;
    align-self: center;
  }
}

.disorder {
  margin: 5px 0;
}

.right-side {
  padding-left: 5px;
  border-left: $border-groove;
}

.harm-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h3 {
    flex: 1;
  }

  button {
    flex-basis: content;
    font-size: 10px;
    line-height: 1;
    padding: 5px !important;
    margin: 0;
    height: fit-content;

    i{
      color: brown;
    }
  }
}

.harm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 5px;

  input {
    flex: 1;
  }

  label {
    flex-basis: content;
    margin-right: 5px;
    align-self: center;
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.full-height,
.editor {
  height: 100%;
  overflow: hidden;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.rollbox {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  .rolltitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  h3{
    flex: 1;
    font-size: 16px;
  }

  button {
    flex-basis: content;
    font-size: 10px;
    line-height: 1;
    padding: 5px !important;
    margin: 0;
    height: fit-content;

    i{
      color: brown;
    }
  }
}