.item-form {
  font-family: $font-primary;
}

.window-content {
  background: none;
  background-color: black;
  background-image: url(../assets/ui/actor/actor-sheet-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: $c-body;
  margin: 0;
  padding: 0;

  .notes {
    color: $c-body;
  }

  input[type="text"].strike-input {
    text-decoration: line-through;
    color: rgba(205, 92, 92, 0.645);
  }

  input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
    color: $c-title;
    background-color: rgb(0 0 0 / 50%);
    border: 1px solid #ffffff2e;
  }

  input:disabled {
    border: 1px solid rgba(137, 21, 0, 0.751);
    background-color: rgba(0, 0, 0, 0.086);
  }

  textarea {
    background-color: rgb(0 0 0 / 50%);
    border: 1px solid #ffffff2e;
    color: $c-title;
  }

  textarea::placeholder {
    color: $c-placeholder;
    font-family: $font-primary;
  }

  img {
    border: 1px solid rgba(255, 255, 255, 0.725);
  }

  select {
    color:$c-title;
  }

  option {
    background-color: rgb(0, 0, 0);
    color: $c-title;
  }

  .editor-content {
    border: 1px solid rgb(255 255 255 / 9%);
    background-color: rgb(0 0 0 / 5%);
    padding: 0 10px;
  }

}

.character {
  h1, h2, h3, h4 {
    border-bottom: none;
    font-weight: bold;
    color: $c-title;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $c-placeholder;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c-placeholder;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $c-placeholder;
  }
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 10px 10px 10px;

  .profile-img {
    flex: 0 0 180px;
    height: 180px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      color: $c-title;
    }
  }

  h3.header-input {
    height: 40px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      color: $c-title;
    }
  }

  input[type="radio"] {
    top: 2px;
    margin: 5px 3px;
  }
}

.npc-sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 10px 10px 10px;

  .insight {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }

  .profile-img {
    // flex: 0 0 292px;
    height: 292px;
    margin-bottom: 5px;
  }

  .header-fields {
    height: 30px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .sub-header-fields {
    height: 20px;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    width: 100%;
  }

  .charname {
    height: 40px;
    padding: 0px;
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  textarea {
    resize: none;
  }
}

.bottomspace {
  margin-bottom: 15px;
}

.specialty {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    flex: 1;
  }

  label {
    font-weight: bold;
    flex-basis: content;
    margin-right: 5px;
    align-self: center;
  }
}

.disorder {
  margin: 8px 0;
}

.right-side {
  padding-left: 10px;
  border-left: $border-groove;
}

.harm-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h3 {
    flex: 1;
  }
}

.harm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 8px;

  input {
    flex: 1;
  }

  label {
    flex-basis: content;
    margin-right: 5px;
    align-self: center;
    color: $c-title;
  }
}

.sheet-tabs {
  flex: 0;
  background-color: #00000088;
  margin: 0;
  padding: 0;
}

nav.sheet-tabs {
  margin: 0px 0px;
  // border-top: 1px solid var(--color-border-light-primary);
  // border-bottom: 1px solid var(--color-border-light-primary);
}

.sheet-body {
  padding: 5px 10px;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tabs .item.active {
  background-color: #ffffff1f;
  color: white;
  text-shadow: none;
}

.full-height,
.editor {
  height: 100%;
  overflow: hidden;
}

.tox {
  .tox-editor-container {
    background: $c-body;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

button {
  flex-basis: content;
  font-size: 10px;
  line-height: 1;
  padding: 5px !important;
  margin: 0;
  height: fit-content;
  color: $c-title;
  background-color: rgb(255 255 255 / 13%);
  border: none;

  i{
    color: brown;
  }
}

.rollsection {
  margin-top: 20px;
}

.rollbox {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 50%);
  border: 1px solid #ffffff2e;

  .rolltitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $c-title;
  }

  h3{
    flex: 1;
    font-size: 16px;
    margin: 0;
    color: $c-placeholder;
  }
}