<div>
    <p>
        <span style="font-size: 1.5em;">
            {{{localize "CDG.FailureRoll"}}}
        </span> 
        {{{diceOutput}}}
    </p>
    <hr>
    {{{localize "CDG.FailureRollContent"}}}
</div>
