<div>
    <p>
        <span style="font-size: 1.5em;">
            {{{localize "CDG.SelfCareRoll"}}} 
        </span>
        {{{diceForOutput}}}
    </p>
    <hr>
    {{{selfCareRollContent}}}
</div>
